<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title id="#azul1">Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cine</ion-card-subtitle>
      <ion-card-title>Estrenos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">
      SHE HULK MARVEL
      <icon-card>
        <img src="assets/hulkw.png" class="ion-padding">
      </icon-card>
    </ion-card-content>
   </ion-card>

   

   <ion-card>
    
    
    <ion-card-content>
      <p class="parrafo"> DOCTOR STRANGE MULTIVERSO/ MARVEL</p>
      <icon-card>
        <img src="assets/doctor.png" class="ion-padding">
        
      </icon-card>
   
    </ion-card-content>
   </ion-card>




</ion-content>

