<ion-header>
  <ion-toolbar >
    <ion-title size="small" id="azul1" class="ion-text-center">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="fondoApp">
  <ion-img src="assets/logoApp.png" ></ion-img>

  <br>
  <br>
<ion-row>
  <ion-col offset="2.5" size="7">
    <ion-button id="btn" expand="block" strong=true routerLink="/login-a">
      Alumno
    </ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col offset="2.5" size="7">
    <ion-button id="btn" expand="block" strong=true routerLink="/login">
      Profesor
    </ion-button>
  </ion-col>
</ion-row>
  
  <br>

  <ion-row>
    <ion-col offset="2.5" size="7">
      <ion-button  id="btn" expand="block"  strong=true routerLink="/create">
        Crear cuenta
      </ion-button>
    </ion-col>
  </ion-row>

  



</ion-content>