<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title size="small" id="azul1" >Login Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="fondoApp2">
  <ion-img src="assets/logoApp.png" ></ion-img>

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label  position="floating" class="ion-text-center" >Ingrese correo institucional...</ion-label>
      <ion-input name="email" type="mail" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>
    
    <br>
    <ion-item>
      <ion-label  position="floating" class="ion-text-center" >Ingrese contraseña...</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>
    
<br>
    <ion-row>
      <ion-col offset="3" size="6">
        <ion-button [disabled] ="formulario.invalid" id="btn" expand="block" strong=true routerLink="/alumno">
          Aceptar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <a color="medium" routerLink="/recuperar" class="underline" style="color:gold; align-content:center;"  >¿Olvidaste tu contraseña?</a>

</ion-content>
